**In this we are trying to predict whether a customer from bank is stayed or exited by using differnt features such as annual income,credit card score,etc..**

Importing Required Libraries

In [38]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

In [33]:
pd.set_option("display.max_columns",100)
pd.set_option("display.max_rows",100)

Checking Tensorflow version

In [5]:
tf.__version__

'2.2.0'

Importing and Processing Dataset

In [41]:
dataset=pd.read_csv('https://github.com/vamsikrishnachangala/Ann/blob/master/Churn_Modelling.csv')
dataset=dataset.iloc[:,3:]

Ignoring 1,2,3 columns in dataset as they are not features,they are data of customer

Encoding Categorical Variables

creating dummy variables for each categorical variables and droppinf first dummy varible column of each categorical variables to prevent dummy variable trap

In [43]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [44]:
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

now from above we can observe france in geography and female in gender is dropped due to drop_first argument in get_dummies

In [47]:

#Ignoring 1,2,3 columns in dataset as they are not features,they are data of customer
x=dataset.drop(columns=['Exited'])
#Extracting target variable 
y=dataset['Exited']

Ignoring 1,2,3 columns in dataset for x as they are not features,they are data of customer
Extracting target variable in y

In [48]:
#printing first 10 rows of x
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [49]:
#printing first 10 rows of y
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

**Splitting dataset into train and test**

In [56]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

test_size varibale indicates amount of data used for prediction(i.e 20%),random_state is used for setting seed it is usefull during production code

**Feature Scaling**

Feature scaling is must in neural networks due to large computations,when features are not scaled it may cause large time to train eventualyy may underfit

In [57]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_train=pd.DataFrame(x_train)
x_test=pd.DataFrame(x_test)

here we are fitting standardscaler to training set and applying transform for both training and testing set,this is done to ensure that model do not know any instance of testing set

**Building ANN**

initializing sequential ann model

In [58]:
ann=tf.keras.models.Sequential()

Adding input layer and first hidden layer

In [59]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

Input layer for ann is decided by size of input and size of hidden layer is initialized with six units,there is no thumb rule for deciding number of hidden units and layers,relu activation function works well for hidden layers instead of other activation functions

Adding second hidden layer

In [60]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

Adding output layer

In [61]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

since we are predicting whether customer stayed or exited,we can have only one neuron and sigmoid activation function works fine as output will be either 0 or 1(0 means stayed 1 means exited)

Training Ann

In [62]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [63]:
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
WARNING:tensorflow:Layer dense_3 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

250/250 [==============================] - 0s 1ms/step - loss: 0.6049 - accuracy: 0.6833
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4738 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4429 - accuracy: 0.7981
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4159 - accuracy: 0.8167
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3954 - accuracy: 0.8347
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3807 - accuracy: 0.8435
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3697 - accuracy: 0.8482
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3621 - accuracy: 0.8519
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3571 - accuracy: 0.8525
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3541 - accuracy: 0.8540
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3522 - accuracy: 0.8536
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3505 - accuracy: 0.8546
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3497 - accuracy: 0.8558
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3484 - accuracy: 0.8577
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3478 - accuracy: 0.8591
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3469 - accuracy: 0.8581
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3470 - accuracy: 0.8580
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3462 - accuracy: 0.8593
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3457 - accuracy: 0.8581
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8596
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8599
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3447 - accuracy: 0.8601
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3443 - accuracy: 0.8597
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8596
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8611
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8595
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8610
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3426 - accuracy: 0.8601
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8610
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3416 - accuracy: 0.8612
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8615
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8605
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8616
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8618
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8611
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8612
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8614
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8625
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8612
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8620
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8633
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8611
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8620
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8615
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8631
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8631
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8611
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8616
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8627
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8614
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8637
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8645
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8622
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8629
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8630
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8635
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8629
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8626
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8616
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8633
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8621
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8629
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8635
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8627
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8655
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8629
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8629
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8627
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8634
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8633
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3308 - accuracy: 0.8626
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3308 - accuracy: 0.8627
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3307 - accuracy: 0.8644
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8639
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8636
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8640
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8636
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8639
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8622
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8643
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3300 - accuracy: 0.8637
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3296 - accuracy: 0.8639
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3295 - accuracy: 0.8650
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3294 - accuracy: 0.8630
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8644
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3292 - accuracy: 0.8652
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3300 - accuracy: 0.8643
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3295 - accuracy: 0.8635
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3291 - accuracy: 0.8658
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3289 - accuracy: 0.8635
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3291 - accuracy: 0.8645
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3291 - accuracy: 0.8637
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3288 - accuracy: 0.8641
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3286 - accuracy: 0.8660
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3291 - accuracy: 0.8645
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3288 - accuracy: 0.8650
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3290 - accuracy: 0.8648
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3284 - accuracy: 0.8655
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3288 - accuracy: 0.8655
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3288 - accuracy: 0.8635

**Predicting test set**

In [69]:
y_pred=ann.predict(x_test)
y_pred=pd.DataFrame(y_pred)
y_pred=(y_pred>0.5)
y_pred.head(100)

        0
0   False
1   False
2   False
3   False
4   False
5    True
6   False
7   False
8   False
9    True
10  False
11  False
12  False
13  False
14   True
15   True
16  False
17  False
18  False
19  False
20   True
21  False
22  False
23  False
24  False
25  False
26  False
27  False
28  False
29  False
30  False
31   True
32  False
33  False
34  False
35  False
36  False
37  False
38  False
39  False
40  False
41  False
42  False
43  False
44   True
45  False
46  False
47  False
48  False
49  False
50   True
51  False
52  False
53  False
54  False
55  False
56   True
57  False
58  False
59  False
60  False
61  False
62  False
63  False
64   True
65   True
66  False
67   True
68  False
69   True
70   True
71  False
72  False
73   True
74   True
75  False
76   True
77  False
78  False
79  False
80   True
81  False
82  False
83  False
84   True
85  False
86  False
87  False
88   True
89  False
90  False
91  False
92  False
93   True
94  False
95  False
96  False
97  False
98  False
99  False

**Making of confusion matrix**

In [70]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_pred,y_test)

[[1508   87]
 [ 186  219]]

0.8635